.markdown-body strong {
  font-weight: 800;
  color: #39FF14;
}

.markdown-body p {
  margin-bottom: 1.5rem;
}

.markdown-body ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.markdown-body.mini p {
  margin-bottom: 0;
  display: inline;
}
